// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

main > .container {
  padding: 60px 15px 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  footer {
    margin-bottom: 0;
    margin-top: auto;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

label.required:before {
  content: "*";
}

.form-error-icon {
  display: none;
}

.book-list {
  .image {
    display: flex;
    align-items: center;

    img {
      width: auto;
      height: 30px;
      margin-right: 10px;
    }
  }
}